{% extends 'common.html' %}
{% block content %}
        <div class="main">
            <div id="maindiv">
                <h3>Disclaimer</h3>
                <p> The owner(s) of the website, the creator(s), who hosts the server, and basically anyone
                    even marginally involved (and their dogs) cannot be held liable for any incorrect information
                    here present.</p>
                <h3>Data sources</h3>
                <p> Bus data comes from <a href="https://api-portal.tfl.gov.uk/">Transport For London</a> (TFL). </p>
                <p> Geo data comes from <a href="https://www.ordnancesurvey.co.uk/business-and-government/licensing/using-creating-data-with-os-products/os-opendata.html">Ordnance Survey</a> (OS). </p>
                    Contains OS data © Crown copyright [and database right] (2015).<br>
                    Contains Royal Mail data © Royal Mail copyright and Database right (2015) <br>
                    Contains National Statistics data © Crown copyright and database right (2015) </p>
                <h3>Random information</h3>
                <p> Built with <a href="http://flask.pocoo.org/">Flask</a>,
                    <a href="http://getbootstrap.com/">Bootstrap</a>,
                    <a href="http://jquery.com/">jQuery</a>. </p>
                <h3>Licence</h3>
                <p> Something along <a href="http://people.freebsd.org/~phk/">"THE BEER-WARE LICENSE"</a>
                    (Revision 42): <br>
                    I wrote this file. As long as you retain this notice you <br>
                    can do whatever you want with this stuff. If we meet some day, and you think <br>
                    this stuff is worth it, you can buy me a beer in return. </p>
            </div>
        </div>
{% endblock %}