<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <div class="main">
    </div>

    <script src="{{ url_for('static', filename='geoPosition.js') }}" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
    if (geoPosition.init()) {
        geoPosition.getCurrentPosition(success_f, error_f, {enableHighAccuracy:true});
    } else {

    }

    function success_f(p) {
        window.location = location + "stops/" + p.coords.latitude + "/" + p.coords.longitude + "/";
        <!-- to go POST: http://stackoverflow.com/questions/2367979/pass-post-data-with-window-location-href -->
    }

    function error_f(p) {
        return "Unable to determine your location."
    }
    </script>
</body>
<html>
