{% extends 'common.html' %}
{% block content %}
        <div class="main">
          <h1>Bus stops</h1>
            <div id="maindiv">
                <p class="lead"></p>
                <form style="display: visible" action="/stops" method="POST" id="coordinates_form">
                    <input type="hidden" id="lat" name="lat" value=""/>
                    <input type="hidden" id="lon" name="lon" value=""/>
                </form>
            </div>
        </div>
        <div class="main">
        </div>
{% endblock %}
